fastapi
uvicorn
joblib==1.5.3
numpy==2.4.2
pandas==2.3.2
python-dateutil==2.9.0.post0
scikit-learn==1.7.2
scipy==1.17.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.3
python-multipart
jupyterlab==4.5.4
notebook==7.5.3
boto3==1.42.73
mlflow==3.10.1
mlflow-skinny==3.10.1
mlflow-tracing==3.10.1
PyMySQL==1.1.2
SQLAlchemy==2.0.48